@CHARSET "UTF-8";

#header {

}
#header > div {
    height: 20px;
    margin: 0 0px 15px;
}
#header > div.first {
	height: auto;
}
#header nav {
    float: right;
}
#header nav ul, #header ul.nav {
	display: block;
    list-style: none;
    width: 420px;
    height: 120px;
    margin: 50px 0 0;
    padding: 0;
}
#header ul.nav li {
	display: block;
	float: left;
    margin: 15px 10px 15px 0px;
    padding: 0px 20px;
    border-right: 1px solid #888;
}
#header ul.nav li:last-child {
	border-right: none;
}
#header ul.nav li a, #header nav ul li a:visited {
    text-decoration: none;
}
#header ul.nav li a span {
    display: block;
}
#header ul.nav li a span.main {
    color: #bdf32c;
    font-size: 130%;
    font-weight: bold;
}
#header ul.nav li a:hover span.main {
    color: #9bc724;
}
#header ul.nav li a span.description {
    color: #aaa;
}
#header ul.nav li a:hover span.description {
    color: #ddd;
}

#content {
    padding: 10px;
    background-color: #fff;
}