@CHARSET "UTF-8";

#header div.first {
    height: auto;
}
#header ul.nav {
    float: right;
}
#header ul.nav li.last {
    border-right: none;
}

#header .second, #header .third, #header .fourth, #header .fifth {
    background-color: #87cefa;
}
