@CHARSET "UTF-8";

#top-menu ul {
	display: block;
    list-style: none;
    height: 25px;
    margin: 0;
    padding: 10px 10px 10px 25px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}
#top-menu ul li.last {
    float: right;
    margin-right: 25px;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}
