@CHARSET "UTF-8";

body {
  background: #263749;
}
canvas {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#cursor {
  position: absolute;
  width: 50%;
  bottom: 10px;
  left: 25%;
  background-color: #ddd;
  color: #333;
  z-index: 100;
}

.ct, #header, #content {
	position: relative;
	display: block;
    width: 970px;
	margin: 0 auto;
	z-index: 100;
}
#top-menu {
	
}
#top-menu nav {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
#top-menu ul {
	list-style: none;
	height: 25px;
	margin: 0;
	padding: 10px 10px 10px 25px;
}
#top-menu ul li {
	display: inline-block;
    margin-right: 15px;
}
#top-menu ul li:last-child {
	float: right;
    margin-right: 25px;
}
#top-menu ul li a, #top-menu nav ul li a:visited {
    color: #fff;
    text-decoration: none;
}

#top-menu ul li a:hover {
    color: #eee;
    text-decoration: underline;
}

#header {

}
#header > div {
	height: 20px;
	margin: 0 0px 15px;
}
#header > nav {
	margin: 0 0px 15px;
}

#content {
    width: 950px;
	min-height: 150px;
	background-color: #888;
}



a.fork img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	z-index: 50;
}
