@CHARSET "UTF-8";

#header .second, #header .third, #header .fourth, #header .fifth {
    background-color: Cornsilk;
}

.ct, #header {
    width: 430px;
}
#content {
    width: 410px;
}

#header {
    background: none;
}
#header nav.first {
    background: none;
}

#header nav ul li a span.description {
    color: #999;
}
#header nav ul li a:hover span.description {
    color: #555;
}